<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    
    </a>
  </header>

  <main>
    <h1 class="text-body-emphasis">Customer Manager Anguler    </h1>
    <p class="fs-5 col-md-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam praesentium alias molestiae, nisi at velit, 
      nemo minima fugiat assumenda quia porro. Quae aliquam, rerum quasi ea hic culpa repellat ducimus?</p>

    <div class="mb-5">
      <a href="" class="btn btn-primary btn-lg px-4">Book Now</a>
    </div>

