<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#home">Customer Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto"  >
          
          <a class="nav-link" >Home</a>
         <a class="nav-link" routerLink="AddCustomer" href="AddCustomer">Add Customer</a>  <!-- routerLink eka import  -->
          <a class="nav-link" routerLink="updateCustomer" href="updateCustomer">update Customer</a>
         <a class="nav-link" routerLink="DeleteCustomer" href="DeleteCustomer">Delete Customer</a>
          
        </div>
      </div>
    </div>
  </nav>

  